<div class="content">
	<h5>Verifiquemos que en realidad sea usted.</h5>

	<p>
		Antes de nada necesitamos verificar que usted sea el propietario de la cuenta <i>{$G['id']}</i>. Para ello por favor rellene los siguientes campos con la información de su cuenta:
	</p>

	<div class="box-error">
		{$message}
	</div>

	<form action="{PATH}/actions/verify.data.php" method="POST" class="register-form" style="margin-top: 60px">

		<input type="hidden" name="id" value="{$G['id']}" />

		<p>
			<label>Nombre completo:</label>
			<input type="text" name="name" value="{$data['name']}" required x-webkit-speech speech />
		</p>

		@if ( !Core::Valid($G['id']) )
		<p>
			<label>Correo electrónico primario:</label>
			<input type="email" name="email" value="{$data['email']}" required x-webkit-speech speech />
		</p>
		@endif

		<p>
			<label>Fecha de nacimiento</label>

			<input type="text" min="1" max="31" class="share-3" name="bday" value="{$data['bday']}" placeholder="Día" required />

			<select name="bmonth" id="bmonth" required class="share-3" role="menu">
				<option value="">Mes</option>

				@foreach ( $months as $key => $month )

					@if ( $data['bmonth'] == $key )
						{{ $selected = 'selected="selected"' }}
					@endif

					<option value="{$key}" {selected}>{$month}</option>
				@endforeach
			</select>

			<input type="text" class="share-3" name="byear" value="{$data['byear']}" placeholder="Año" required />

			<span class="herror" data-for="birthday"></label>
		</p>

		<p>
			<label>País</label>
			<select name="country" id="country" required role="menu">
				<option value="">Selecciona...</option>

				@while ( $row = Assoc($countrys) )
					<option value="{$row['code2']}"
					@if ( $data['country'] == $row['code2'] )
					selected="selected"
					@endif >{$row['name']}</option>
				@endwhile
			</select>
			<span class="herror" data-for="country"></label>
		</p>

		@if ( !empty($user['magic_word']) )
		<p>
			<label>Palabra magica:</label>
			<input type="text" name="magic" value="{$data['magic']}" required />
		</p>
		@endif

		<p>
			<button class="ibtn">Continuar</button>
		</p>
	</form>

</div>
</div>