<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body style="
	color: #444444 !important;
	font-family: Open Sans, Droid Sans, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;">

		<div>
			<img src="{LOGO}" alt="{SITE_NAME}" title="{SITE_NAME}" />
		</div>

		<p style="font-size: 18px">
			¡Recupera el acceso a tu cuenta!
		</p>

		<div style="line-height: 20px">
			<p>
				Saludos <strong>{$user['name']}</strong>, recientemente <i>{IP} ({$country['RegionName']}, {$country['CountryName']})</i> ha pedido cambiar tu contraseña en <a href="{PATH}">{SITE_NAME}</a>. A continuación te proporcionamos el enlace para cambiar tu contraseña:
			</p>

			<p>
				<a href="{PATH}/connect/forgot?type=change&token={$user['password_token']}">{PATH}/connect/forgot?type=change&token={$user['password_token']}</a>
			</p>

			<p style="font-size: 11px;">
				Si no puedes dar clic por favor copia y pega el enlace en la barra de direcciones en tu navegador web.
			</p>

			<p style="color: red">
				Si no has sido tu quien ha solicitado el cambio de contraseña por favor ignora este mensaje y te recomendamos vigilar tu cuenta en todo momento, al parecer alguien sabe exactamente tus datos personales.
			</p>

			<p>
				En %SITE_NAME% solo utilizaremos tu dirección de correo para enviarte mensajes que requieren tu atención, como por ejemplo un cambio en tu contraseña, la desactivación de una conexión social o en si, la recuperación de tu cuenta.
			</p>

			<p>
				Esperemos que tu cuenta en %SITE_NAME% pueda servirte para darte una experiencia única en la web.
			</p>
		</div>

		<cite>
			El equipo de InfoSmart
		</cite>

		<div style="margin-top: 30px; border-top: 1px solid #D8D8D8; font-size: 10px; padding-top: 10px;">
			<a href="http://infosmart.mx/">InfoSmart</a> © <?=date('Y')?>. Todos los derechos reservados.
		</div>

	</body>
</html>