<div class="content home">
	<div class="wrap col1">
		<section>
			<h4>Addons</h4>

			<p>
				Los Addons son complementos que puedes agregar o eliminar a tu panel de usuario (el que se ubica en el lado izquierdo de todas nuestras aplicaciones ¡incluso aquí mismo!), los mismos te pueden proporcionar información o herramientas útiles en cualquier momento.
			</p>
		</section>
	</div>

	<div class="col2">
		<section class="last-info">
			<h5>¿Desarrollador?</h5>

			<p>
				En el futuro podrás desarrollar tus propios addons. ¡espéralo!
			</p>
		</section>
	</div>