<div class="content home">
	<div class="wrap col1">
		<section>
			<h4>Comandos por voz</h4>

			<p>
				Los comandos por voz te permiten realizar y navegar por {SITE_NAME} usando tu voz. Ten en cuenta que es una función experimental y debido a motivos de seguridad se te pedirá confirmar el uso de tu micrófono.
			</p>

			<p>
				<a id="start_voice" class="ibtn">Empezar a usar los comandos</a>
			</p>
		</section>

		<section id="voice_commands">
			<h5>Comandos de voz disponibles</h5>

			<p>
				A continuación se muestran la lista de los comandos disponibles:
			</p>
		</section>
	</div>

	<div class="col2">
		<section>
			<h5>Tu privacidad</h5>

			<p>
				Para que los comandos por voz funcionen es necesario que {SITE_NAME} use tu micrófono mientras te encuentres en el sitio.
			</p>

			<p>
				Todo lo que hables será procesado en tiempo real por los servidores de Google sin embargo nada será guardado y solo se usará para activar los comandos.
			</p>
		</section>

		<section>
			<h5>Recomendaciones</h5>

			<p>
				Al decir un comando siempre ubicate cerca de tu micrófono, procura que no haya mucho ruido de fondo.
			</p>

			<p>
				Dependiendo de tu conexión es probable que los comandos se ejecuten al instante o con un retraso.
			</p>
		</section>
	</div>
</div>